* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

html,
body {
  height: 100%;
}

apartment-calculator {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: auto;
  padding: 16px;
  width: fit-content;
}

header {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

main {
  display: flex;
}

section {
  background-color: lightgray;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  padding: 8px;
}

caption {
  font-size: 1.5rem;
  text-align: left;
}

th,
td {
  padding: 4px;
  text-align: right;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  width: 80px;
}
